
wiring.afdesign
ignore/vids/sketch/2024-08-03_14-40-29.mp4
ignore/vids/sketch/2024-07-30_20-18-08.mp4
ignore/vids/sketch/2024-07-03_18-25-42.mp4
ignore/vids/sketch/2024-06-25_17-39-10.mp4
ignore/icons/video-camera-svgrepo-com.svg
ignore/icons/power-svgrepo-com.svg
ignore/icons/microphone-svgrepo-com.svg
ignore/icons/key-14-svgrepo-com.svg
ignore/icons/icons.afdesign
ignore/icons/horn-svgrepo-com.svg
ignore/icons/car-svgrepo-com.svg
ignore/icons/bulb-on-svgrepo-com (1).svg
ignore/icons/bolt-fill-svgrepo-com.svg
ignore/DIY button box.mp4
ignore/Buttonbox/20240928_133908.mp4
ignore/Buttonbox/20240928_133309.jpg
ignore/Buttonbox/20240928_133258.jpg
ignore/Buttonbox/20240928_133253.jpg
ignore/Buttonbox/20240928_133244.jpg
ignore/Buttonbox/20240928_133239.jpg
ignore/Buttonbox/20240928_131924.jpg
ignore/Buttonbox/20240928_131545.jpg
ignore/Buttonbox/20240928_131520.jpg
ignore/Buttonbox/20240928_131356.jpg
ignore/Buttonbox/20240928_131350.jpg
ignore/Buttonbox/20240928_131313.jpg
ignore/Buttonbox/20240928_131208.jpg
